html{
	scroll-behavior: smooth;
}
.main{
	opacity: 0;
  -webkit-animation: mainFade 0.8s forwards;
  /*-webkit-animation-delay: 0.5s;*/
  animation: mainFade 0.8s forwards;
  /*animation-delay: 0.5s;*/

}


@-webkit-keyframes mainFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mainFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.95;
  }
}