
.showcase{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://assets.entrepreneur.com/content/3x2/2000/20160420202913-shutterstock-370389194.jpeg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button{
	background-color: #282c34;
	border-radius: 10px;
	color: white;
	font-size: 40px;
	opacity: 0.7;
	padding: 10px 0px;
	transition: ease-in-out 0.3s;
}

.button:hover{
	background-color: white;
	color: #282c34;
}

.button a{
	color: white;
	padding: 17px 60px;
	text-decoration: none;
	transition: ease-in-out 0.3s;
}

.button a:hover{
	color: #282c34;
	text-decoration: none;
}