
/*================================================*/
/*Body*/
/*================================================*/
.title{
	margin: 5% auto;
	text-align: center;
}

table{
	width: 50% !important;
	margin: 0 auto;
	text-align: center;
	box-shadow: 5px 5px 20px black;
}

.table-data{
	background-color: #FDF6E3;
	transition: ease-in-out 0.3s;
}

.table-data:hover{
	background-color: #ddd7c7;
}

.buttonDiv{
	margin: 5% auto;
	text-align: center;
}

.button2{
	background-color: #3E444A;
	border: 1px solid #3E444A;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	padding: 10px 0px;
	transition: ease-in-out 0.3s;
}

.button2:hover{
	background-color: white;
	border: 1px solid #3E444A;
	color: #3E444A;
}

.button2 a{
	color: white;
	padding: 15px 60px;
	text-decoration: none;
	transition: ease-in-out 0.3s;
}

.button2 a:hover{
	color: #3E444A;
	text-decoration: none;
}
/*================================================*/




/*================================================*/
/*Mobile responsive*/
/*================================================*/
@media only screen and (max-width: 700px) {

	.title{
		font-size: 30px;
		margin: 10% auto;
	}

	table{
		width: 90% !important;
		font-size: 13px;
	}

	.buttonDiv{
		margin: 10% auto;
	}

	.button2{
		font-size: 17px;
	}

	td:last-child a{
		display: block;
	}

	.divider{
		display: none;
	}

	.card{
		width: 90%;
		border: 1px solid red;
	}

}
/*================================================*/